---
http_interactions:
- request:
    method: get
    uri: https://api.btcmarkets.net/market/BTC/AUD/tick
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"bestBid":9847.19,"bestAsk":9850.78,"lastPrice":9850.78,"currency":"AUD","instrument":"BTC","timestamp":1510144148,"volume24h":326.01738}'
  recorded_at: Wed, 08 Nov 2017 12:29:15 GMT
recorded_with: VCR 3.0.3
